/* fonts */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url(res/atkinson-hyperlegible/regular.woff2);
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: 700;
	src: url(res/atkinson-hyperlegible/bold.woff2);
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	src: url(res/atkinson-hyperlegible/italic.woff2);
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-weight: 700; font-style: italic;
	src: url(res/atkinson-hyperlegible/bold-italic.woff2);
}
:root {
	font-family:
		'Atkinson Hyperlegible',
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'segoe ui', Roboto, 'helvetica neue', Arial, 'noto sans', sans-serif,
		'apple color emoji', 'segoe ui emoji', 'segoe ui symbol', 'noto color emoji';
	word-break: break-word;
}
* {
	font-family: inherit; font-size: inherit; word-break: inherit;
	-webkit-text-size-adjust: none;
}
[hidden] {
	display: none !important;
}

:root {
	--bg: white;
	
	--scrollbar-width: 12px;
	
	--image-border: 1px solid silver;
	--embed-height: 20vh;
	
	--lighter: #CFEADD; /* maybe: #CFEAD9. darker: #B0DFC6. old: hsl(2.8rad, 100%, 95%)*/
	--light: #87D3B1; /* old: #87D3B1*/
	--mid: #43C8A6; /* old: #3FBFA8*/
	--dark: #3FA8A2; /* old: #3F9FA8*/
		
	
	--tw-prose-body: #374151;
	--tw-prose-headings: #111827;
	--tw-prose-lead: #4b5563;
	--tw-prose-links: #111827;
	--tw-prose-bold: #111827;
	--tw-prose-counters: #6b7280;
	--tw-prose-bullets: #d1d5db;
	--tw-prose-hr: #e5e7eb;
	--tw-prose-quotes: #111827;
	--tw-prose-quote-borders: #e5e7eb;
	--tw-prose-captions: #6b7280;
	--tw-prose-code: #111827;
	--tw-prose-pre-code: #e5e7eb;
	--tw-prose-pre-bg: #1f2937;
	--tw-prose-th-borders: #d1d5db;
	--tw-prose-td-borders: #e5e7eb;
}

/* all */
* {
	contain: content;
	margin: 0;
	scrollbar-color: yellow var(--dark);
}

/* viewport */
html, body {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	contain: strict;
}


/* rendering optimizaton. browser sometimes won't use cleartype otherwise. */
body, body > *, main, view-root, .scroller, .scroller > * {
	background: inherit;
}
main {
	background: var(--dark);
}

#\$sidebar {
	border-bottom: 1rem solid var(--dark);
}

/* flex system */
.row, .col { display: flex }
.col { flex-flow: column }
.row > *, .col > * {
	flex: none;
	min-width: 0;
	min-height: 0;
}
.fill { flex: 1 }
.align { align-items: center }
.wrap { flex-wrap: wrap }
.wrap > * { max-width: 100% } /* todo: dont think this is safe */

.row.gaps > :nth-child(n+2) {
	margin-left: var(--gap);
}
.col.gaps > :nth-child(n+2) {
	margin-top: var(--gap);
}

img {
	object-fit: contain;
}

img, input, button {
	vertical-align: top;
}

a {	
	color: unset;
	text-decoration: none;
}
a:hover {	
	text-decoration: underline !important;
}

/* header */
header {
	background: linear-gradient(calc(180.5deg + 180deg), var(--light) 0 30%, var(--mid) 0 70%, var(--dark) 0 100%);
	color: white;
	padding: 0.5rem;
	--gap: 8px;
	height: 32px;
	/*border-right: 1em solid var(--dark);*/
}
#\$title {
	font-weight: bold;
	font-size: 1.5em;
}
.logo {
	height: 32px;
	aspect-ratio: 104 / 75;
	color: #000;
	filter: blur(1.2px);
}

/* icons */
.icon {
	width: 1.5rem;
	height: 1.5rem;
	flex-shrink: 0 !important;
}
.icon-20 {
	width: 20px;
	height: 20px;
}

/* notifications */
.notification {
	margin: 0.25rem;
	/*border: 1px solid;*/
	border-radius: 1rem;
	padding: 2px 0.5rem;
}
.notification > .icon {
	margin-right: 0.25em;
}

/* post */

.images {
	height: var(--embed-height);
	justify-content: space-around;
	margin: 0.5rem 0.5rem 0rem;
	gap: 1px;
}

.images > * {
	/*flex: 0 1 50%;*/
	flex: 0 1 auto;
	box-sizing: border-box;
	max-height: 100%;
	border: var(--image-border);
}

mark-down {
	display: block;
}

.post-chain {
	background: var(--dark);
	--avatar-size: 24px;
}

.post {
	background: var(--bg);
	--avatar-size: 24px;
}

.post-chain > :nth-child(n+2) {
	margin-top: 2px;
}

.post-chain, .post:not(.post-chain > *) {
	margin: 1rem 0;
	border-radius: 1rem /* 1rem 1rem 0.5rem 0.5rem; */
}

.post-header {
	padding: 0.5rem;
	background: var(--lighter);
	box-shadow: 0 1px 1px #0008;
}

.post-header:not(.post:first-child > *) {
	/*box-shadow: 0 1px 1px #0008, inset 0 2px 0px 1px var(--dark);*/
}

time {
	opacity: 50%;
	font-size: 0.875em;
	font-variant-numeric: tabular-nums;
}
.post-header > .post-time {
	margin-left: auto;
}

.post > h1 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0.5rem 0.5rem 0rem;
	border-bottom: 1px dashed silver;
	padding-bottom: 0.25rem;
}
.post > mark-down {
	--prose-margin: 0.75rem 0.75rem 0.75rem;
}

:root {
	--avatar-border: 1px;
	--avatar-size: 32px;
}
.avatar {
	width: var(--avatar-size);
	height: var(--avatar-size);
}
.avatar > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.avatar > img:-moz-broken, .avatar > img:-moz-loading {
	background: #BBB;
}
/* avatar shapes */
.avatar {
	/*border: var(--avatar-border) solid;*/
	/* ugh why isn't there a real way to do outlines */
	padding: var(--avatar-border);
	
	filter:
		drop-shadow(0 var(--avatar-border))
		drop-shadow(var(--avatar-border) 0)
		drop-shadow(calc(var(--avatar-border) * -1) 0)
		drop-shadow(0 calc(var(--avatar-border) * -1));
/*		drop-shadow(0 2px #053)
		drop-shadow(2px 0 #086)
		drop-shadow(-2px 0 #0B8)
		drop-shadow(0 -2px #0FB);
*/	
	
	/*filter:
		drop-shadow(2px 0 #808)
		drop-shadow(0 2px #606)
		drop-shadow(-2px 0 #B0B)
		drop-shadow(0 -2px #D0D);*/
	
}
.mask-roundrect > img {
	border-radius: 0.5rem;
}
.mask-circle > img {
	border-radius: 50%;
}
.mask-squircle > img {
	clip-path: url('res/icons.svg#clip-squircle');
	position: relative;
}
.mask-capsule-small > img {
	clip-path: url('res/icons.svg#clip-capsule-small');
	position: relative;
}
.mask-capsule-large > img {
	clip-path: url('res/icons.svg#clip-capsule-large');
	position: relative;
}
.mask-egg > img {
	clip-path: url('res/icons.svg#clip-egg');
	position: relative;
}
/*.mask-capsule-small::after {
	display: block;
	display: var(--avatar-border, none);
	content: "";
	position: absolute;
	z-index: 1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: currentColor;
	clip-path: url('res/icons.svg#unclip-capsule-small');
}

.mask-squircle::after {
	display: block;
	display: var(--avatar-border, none);
	content: "";
	position: absolute;
	z-index: 1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: currentColor;
	clip-path: url('res/icons.svg#unclip-squircle');
}*/

/* */
main {
	display: flex;
}
main > * {
	width: 100%;
	height: 100%;
}
view-root {
	flex: 1; min-height: 0;
	overflow-y: scroll;
	padding-left: 0.75rem;
	padding-right: calc(0.75rem - var(--scrollbar-width));
}

/* all elements with user content  must be tied up */
.pre {
	white-space: pre-wrap;
	unicode-bidi: embed;
}

.name {
	font-weight: bold;
}

/* todo: the avatar causes the area above/below the text to be clickable. is this good/bad? on notifs page, the page title doesnt have this property. should be consistent. */
.project-label, .post-label {
	text-decoration: unset;
	color: unset;
	vertical-align: top;
}
.project-label > span, .post-label > span {
   /*height: 1.25em;
   margin-top: 0.25em;
   contain: none;*/
}

.project-label {
	display: inline-flex;
}
.project-label > .avatar {
	margin-right: 0.25em;
}

/*.post-label {
	display: inline-flex;
	align-items: center;
}*/

/* scrolling elements */
.scroller {
	overflow-y: scroll;
	width: 100%;
	display: flex;
	flex-flow: column;
	/* necesary ?? */
	height: 0;
	min-height: 100%; 
}
.scroller > * {
	flex: none;
}
.scroller > * > * {
	background: var(--bg);
}
.scroller, view-root, main, body > div, aside {
	contain: strict;
}

#\$printer > div {
	white-space: pre-wrap;
	border: solid;
	padding: 1px 3px;
}

/* profile */

/* todo: try to replicate the sitting thing */
.profile-header > div > .avatar {
	--avatar-size: 144px;
	filter: none;
	--avatar-border: initial;
	margin: 0.25rem;
}
.profile-header {
	/*border-bottom: 1rem solid var(--dark);*/
}
.profile-display-name {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.25rem;
}

#\$left {
	display: grid;
	grid:
		"header" auto
		"main" 1fr;
/*		"footer" 0.75rem;*/
	border: 0.75rem solid var(--mid);
	/*border-bottom: none;*/
}

#\$left > header {
	grid-area: header;
	/*box-shadow: 0 5px 10px var(--dark);*/
	z-index: 1;
}
#\$left > footer {
	grid-area: footer;
	/*box-shadow: 0 -2px 4px var(--dark);*/
	/*box-shadow: 0 0 2px black;*/
	z-index: 1;
	background: var(--mid);
}

#\$left > main {
	grid-area: main;
}

#\$gallery {
	grid-area: 1/1/-1/-1;
	display: grid;
	background: #222D;
	padding: 0.5rem;
	grid: "image"
			"caption";
	place-content: center stretch;
	gap: 0.5rem;
	z-index: 100;
}

#\$gallery > figcaption {
	grid-area: caption;
	color: #FFF9F2;
	line-height: 1.5;
	font-style: italic;
	text-align: center;
}

#\$gallery > img {
	background: #222;
	grid-area: image;
	box-sizing: border-box;
	border: var(--image-border);
	border-width: 2px;
	max-width: 100%;
	max-height: 100%;
	height: 100%; /* for some reason this fixes images overflowing when too tall ?? */
	place-self: center;
}
