:root {
	word-break: break-word;
}
* {
	contain: content;
	-webkit-text-size-adjust: none;
	font-family: inherit; font-size: inherit; word-break: inherit;
}
html, body {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	contain: strict;
}

* { margin: 0 }
.row, .col { display: flex }
.col { flex-flow: column }
.row > *, .col > * {
	flex: none;
	min-width: 0;
	min-height: 0;
}
.fill { flex: 1 }
.row.gaps > :nth-child(n+2) {
	margin-left: var(--gap);
}
.col.gaps > :nth-child(n+2) {
	margin-top: var(--gap);
}
</style>

<!-- styles for this specific page -->
<style>
:root {
	font-family: sans-serif;
}
body {
	border: 1rem solid #3FBFA8;
}

* {
	scrollbar-color: white #3FBFA8;
}

header {
	background: linear-gradient(180.5deg, #87D3B1 0 30%, #3FBFA8 0 70%, #3F9FA8 0 100%);
	color: white;
	font-weight: bold;
	padding: 0.5em;
	font-size: 1.5em;
	--gap: 8px;
}
.logo {
	height: 32px;
	aspect-ratio: 104 / 75;
	color: #000;
	filter: blur(1.2px);
}

#sendpane {
	height: 2rem;
	border-bottom: 2px solid black;
	padding: 8px;
	background: #DDD;
	--gap: 8px;
}

input, button {
	appearance: none;
	border: 1px solid gray;
	outline-offset: -1px;
}

#posts {
	overflow-y: scroll;
	align-items: start;
	padding: 8px;
	--gap: 8px;
}

.post {
	border: 1px solid gray;
	padding: 4px;
}

.scroll {
	overflow-y: scroll;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.notification {
	margin: 0.25rem;
	border: 1px solid;
	align-items: center;
	padding: 0.25em;
}

.notification > .icon {
	margin-right: 0.25em;
}

.mask-roundrect {
	border-radius: 0.5rem;
}
.mask-circle {
	border-radius: 99999px;
}
.mask-squircle {
	mask: url('data:image/svg+xml,<svg viewBox="-5,-5 10,10" \
preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">\
<path d="M0-5C+4-5+5-4+5-0S+4+5-0+5-5+4-5+0-4-5+0-5z"/></svg>'
) 0 / 100% 100%;
}

/* */
main {
	display: flex;
}
view-root {
	flex: 1; min-height: 0;
	overflow-y: scroll;
}

.pre {
	white-space: pre;
	unicode-bidi: embed;
}

.username {
	font-weight: bold;
}

.avatar {
	width: 1.5em;
	height: 1.5em;
	vertical-align: top;
	object-fit: contain;
}

.project-label {
	display: inline-flex;
	align-items: center;
}

.project-label > .avatar {
	margin-right: 0.25em;
}

:root {
	font-family: 'atkinson hyperlegible';
}
@font-face{
	font-family: 'atkinson hyperlegible';
	src: url(res/atkinson-hyperlegible/regular.woff2);
}
@font-face{
	font-family: 'atkinson hyperlegible';
	font-weight: 700;
	src: url(res/atkinson-hyperlegible/bold.woff2);
}
@font-face{
	font-family: 'atkinson hyperlegible';
	font-style: italic;
	src: url(res/atkinson-hyperlegible/italic.woff2);
}
@font-face{
	font-family: 'atkinson hyperlegible';
	font-weight: 700; font-style: italic;
	src: url(res/atkinson-hyperlegible/bold-italic.woff2);
}

/*  */

body, main, view-root, .scroller, .scroller > * {
	background: white;
}

.scroller {
	overflow-y: scroll;
}
.scroller > * {
	width: 100%;
	min-height: 0;
}

.scroller, view-root, main {
	contain: strict;
}

main > * {
	width: 100%;
	height: 100%;
}
